@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";

@font-face {
  font-family: "Modern Negra";
  src: url("/public/fonts/Modern\ Negra\ Demo.ttf") format("truetype");
}

@theme {
  --color-yellow: #e7d393;
  --color-white-100: #efefef;
  --font-modern-negra: "Modern Negra", sans-serif;
  --font-sans: "Mona Sans", sans-serif;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }
  .flex-col-center-x {
    @apply flex flex-col items-center;
  }
  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

@utility gradient-text {
  background: linear-gradient(to bottom, #ffffff, #898989);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@utility radial-gradient {
  background: radial-gradient(
    circle at center,
    #434343 0%,
    #000 50%,
    transparent 100%
  );
}

@utility image-mask {
  mask: url("/images/mask-img.png");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 50%;
}
